<%= form_for @product, :url => create_profile_product_path, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
        <%= f.hidden_field :user_id , :value => current_user.id %>
        <div class="clearboth"></div>
        <div class="settingsblock leftalign">
          <h5>Start your product campaign!</h5>
          <div class="settingsinput whitebg ">
            <label>Product</label>
            <%= f.text_field :name , :class => 'shartabinput' %>

          </div>
          <div class="settingsinput ">
            <label>Product Type</label>
            <%= select_tag :product_type , options_for_select([['Physical','physical'],['Digital','digital']]), :style => "width:310px;"  %>

          </div>
          <div class="settingsinput whitebg">
            <div class="uploadimage textaligncenter" style="background: url(<%= asset_path('cloud.png') %>) no-repeat;background-size:50px 40px;width:50px;margin: auto;">
              <%= f.fields_for :contents, Content.new do |c| %>
                  <%= c.file_field :attachment , :style => "filter: alpha(opacity=0);opacity: 0;" %>
              <% end %>
              <div class="clearfix"></div>
            </div>
            <div class="progressbarcode">
              <span class="imagename"></span>
              <span class="progressper" id="progress_percentage">0%</span>
              <div class="progressbar">
                <span class="barprocess"></span>
              </div>
            </div>
          </div>
          <!-- cloud png image added -->
          <div class="settingsinput">
            <label>Description</label>
            <%= f.text_area :description , :class => "shartabinput" , :style => "height:100px;" %>
          </div>
          <div class="settingsinput whitebg">
            <label>Price</label>
            <div class="dolordiv2">
              <div class="dolicondiv2"><span class="currencytext">$</span> <span class="arrowdown"></span> </div>
              <div class="dolortxtdiv2">
                <%= f.text_field :price , :size => "5" , :maxlength => "5" %>

              </div>
            </div>
            <div class="clearboth padl150"><%= f.check_box :free %> Free</div>
          </div>
          <!--<div class="settingsinput ">
            <label>Share this link to sell</label>
            <%#= f.text_field :share_link , :class=>"shartabinput" %>
          </div>-->
          <div class="settingsinput whitebg">
            <a href="#" class="moreoptions openstate">More Options</a>
            <span class="graytext">Shipping & Quantity </span>
         <!--   <div class="commanblock">   <label>Privacy</label>
              <%#= select_tag :privacy_option , options_for_select([['Private','private'],['Confidentail','confidential'],['Open','open']]), :style => "width:310px;"  %>
            </div> -->
            <div class="commanblock">   <label>Shipping</label>
              <%= select_tag :shipping_option , options_for_select([['Yes','yes'],['No','no']]), :style => "width:310px;"  %>
            </div>
            <div class="commanblock">   <label>Quantity</label>
              <div class="dolortxtdiv2" style="border: 1px solid #999999">
                <%= f.text_field :quantity , :size => "5" , :maxlength => "5" %>

              </div>
            </div>
          </div>
          <%= f.hidden_field :code , :value => @product.code %>
          <div class="settingsinput bdBnone">
            <label>&nbsp;</label>
            <input type="submit" value="&nbsp;Broadcast&nbsp;" class="uploastyle2">

          </div>
          <div class="clearboth"></div>
        </div>
 <% end %>
        <div class="iteamlisting">
          <div class="previewimg"></div>
          <div class="prodcutimg"><img id="product_preview_img" src="<%= asset_path('prodcut_image.png') %>" width="300" height="257" alt="Product IMG" /></div>
          <div class="prodcut_content">
            <h5 id="product_title_preview">Product Heading Goes Here</h5>
            <p id="product_description_preview">A landmark design from Charles and...</p>
          </div>
          <div class="fulldiv">
            <div class="priceprduct">
              <span class="bigtext" id="price_1_preview">$0</span>
              <span class="smalltext" id="price_2_preview">$0</span>
            </div>
            <div class="priceprduct">
              <span class="bigtext" id="price_3_preview">$0</span>
              <span class="smalltext">Post (AU)</span>
            </div>
            <div class="priceprduct last">
              <span class="bigtext" id="quantity_preview">0</span>
              <span class="smalltext">Left</span>
            </div>
          </div>
          <div class="clearfix"></div>
          <hr/>
          <div class="prodcutbottom" >
            <%=  link_to from_code_url(@product.code),from_code_url(@product.code) %>
            <br/>
            <div class="fb-share-button" data-href="<%= from_code_url(@product.code) %>" data-type="button"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= from_code_url(@product.code) %>" data-text="I am selling online!" data-via="airspace" data-count="none" data-hashtags="airspace"></a>
            <a href="mailto:?subject=I am selling using airspace&body=<%= from_code_url(@product.code) %>">
              <img src="<%= asset_path('email.png') %>" style="height: 20px;margin-top: -15px;"/>
            </a>
          </div>
          <!-- <div class="prodcutbottom">
            <input type="button" value="&nbsp;Start Selling&nbsp;" class="uploastyle2">
          </div> -->
        </div>

<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onprogress = function(e){
                var val = parseInt(e.loaded / e.total)* 100;
                $("#progress_percentage").html(val + "%");
                $(".barprocess").width(val + "%");
            }

            reader.onload = function (e) {
                $('#product_preview_img').attr('src', e.target.result);
            }


            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#product_contents_attributes_0_attachment").change(function(){
        $(".barprocess").width("0%");
        $("#progress_percentage").html("0%");
        //setTimeout(function(){$("#progress_percentage").html("25%");$(".barprocess").width("25%");},350);
        //setTimeout(function(){$("#progress_percentage").html("50%");$(".barprocess").width("50%");},600);
        //setTimeout(function(){$("#progress_percentage").html("75%");$(".barprocess").width("75%");},950);
        //setTimeout(function(){$("#progress_percentage").html("100%");$(".barprocess").width("100%");},1300);
        readURL(this);
    });

    $("#product_name").keyup(function(){
        $("#product_title_preview").html($(this).val());
    })

    $("#product_description").keyup(function(){
        $("#product_description_preview").html($(this).val());
    })

    $("#product_price").keyup(function(){
        $("#price_1_preview").html('$' + $(this).val());
        $("#price_2_preview").html('$' + $(this).val());
        $("#price_3_preview").html('$' + $(this).val());
    })

    $("#product_quantity").keyup(function(){
        $("#quantity_preview").html($(this).val());
    })

    $(".barprocess").width("0%");

</script>
